<div class="hand">
    <span class="spade">♠</span>{{.Spades}}<br>
    <span class="heart">♥</span>{{.Hearts}}<br>
    <span class="diamond">♦</span>{{.Diamonds}}<br>
    <span class="club">♣</span>{{.Clubs}}<br>
</div>
