<html>
    <head>
        <title>Bridge Bidder</title>
    </head>
    <body>
        {{template "pastbids.tmpl" .Bids}}
        {{template "hand.tmpl" .Hand}}
        {{template "nextbid.tmpl"}}
        <script src="/static/js/vendor/jquery.js" type="text/javascript"></script>
        <script src="/static/js/app.js" type="text/javascript"></script>
    </body>
</html>
