<div id="next-bids">
    <table>
        <tr>
            <td><button class="bid">1C</button></td>
            <td><button class="bid">1D</button></td>
            <td><button class="bid">1H</button></td>
            <td><button class="bid">1S</button></td>
            <td><button class="bid">1N</button></td>
        </tr>
        <tr>
            <td><button class="bid">2C</button></td>
            <td><button class="bid">2D</button></td>
            <td><button class="bid">2H</button></td>
            <td><button class="bid">2S</button></td>
            <td><button class="bid">2N</button></td>
        </tr>
        <tr>
            <td><button class="bid">3C</button></td>
            <td><button class="bid">3D</button></td>
            <td><button class="bid">3H</button></td>
            <td><button class="bid">3S</button></td>
            <td><button class="bid">3N</button></td>
        </tr>
        <tr>
            <td><button class="bid">4C</button></td>
            <td><button class="bid">4D</button></td>
            <td><button class="bid">4H</button></td>
            <td><button class="bid">4S</button></td>
            <td><button class="bid">4N</button></td>
        </tr>
        <tr>
            <td><button class="bid">5C</button></td>
            <td><button class="bid">5D</button></td>
            <td><button class="bid">5H</button></td>
            <td><button class="bid">5S</button></td>
            <td><button class="bid">5N</button></td>
        </tr>
        <tr>
            <td><button class="bid">6C</button></td>
            <td><button class="bid">6D</button></td>
            <td><button class="bid">6H</button></td>
            <td><button class="bid">6S</button></td>
            <td><button class="bid">6N</button></td>
        </tr>
        <tr>
            <td><button class="bid">7C</button></td>
            <td><button class="bid">7D</button></td>
            <td><button class="bid">7H</button></td>
            <td><button class="bid">7S</button></td>
            <td><button class="bid">7N</button></td>
        </tr>
    </table>
</div>
