<div id="past-bids">
    <table>
        <tr>
            {{ range . }}
            <th>{{ .Seat }}</th>
            {{ end }}
        </tr>
        <tr>
            {{ range . }}
            <td>{{ .Contract }}</td>
            {{ end }}
        </tr>
    </table>
</div>
